@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/*General attributes*/

body {
    font-family:"Quicksand", Times, sans-serif;
    background-color: #4C5998;
    background: url(Wallpaper1.jpg) no-repeat;
    background-size: cover;
    color:white;
}
#blur {
        filter:blur(5px);
}
.Button {
    text-align: center;
    padding: 1px 1px 1px 1px;
    display: inline;
    margin: 10px;
    padding: 5px;
    border-radius:7px;
    border-color: blue;
    color: white;
    border-style:solid;
    background-color: #0000ff;
    text-transform: uppercase;
    font-weight: bold;
    transition:0.5s;
}

.Button:hover{
    background-color:#5786ff;
    font-size: 20px;
    box-shadow: 2px 4px #0642a1;
}



/*Navigation bar*/
header{
    position:relative;
    width:100%;
    background-color:rgba(21, 60, 189,0.3);
    top:0;
    z-index:51;
}
#Subscription{
    margin-top: 70px
}
.Highlight{
    color:blue;
}
nav {
    display: inline;
}
#title{
    display: inline;
    color:white;
    font-weight: bold;
}
.page-links {
    display:inline;
    float:right;
}
.Container-1 {
    border-bottom:4px solid #0000ff;
    padding-bottom: 10px;
}

#Current { /*The current id is for the current page, in the navigation bar*/
    border-color: blue;
    color: blue;
    background-color: white;
}

#Current:hover{
    background-color:#99b2f0;
}

ul {
    margin-right: 20px
}
li {
    padding:5px 0px 5px 0px;
    list-style-type: none;
    display: inline;
}
a{
    text-decoration: none;
}

/*End of Navigation bar*/

/*Subscription box*/
.Container-3 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0000ff;
}

.Image-container{
    width:40%;
    float:left
}

input {
    background-color: white;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    /*border-style: none;*/
    transition: 0.5s;
    outline:none;
}

input:focus {
    font-size: 1.2rem;
    border: 3px solid blue;
    height: 30px;
}
/*End of Subscription box*/

/*Text boxes and information*/

.Container-2 {
    width:50%;
    float:left;
    border-radius: 2px;
    border-style: solid;
    border-color: blue;
    background-color: rgba(21, 60, 189,0.3);
    padding: 0px 4px;
    margin-top:20px;
    box-sizing: border-box;
}
#bigger-container {
    width:100%;
}

/*End of Text boxes and information*/

/*Miscellaneous*/
#blank {
    margin-bottom: 100px;
    padding-bottom: 100px;
}
/*End of Miscellaneous*/

/* Subscription Pop up */
.Container-4 {
    width: 50%;
    margin:auto;
    position: fixed;
    text-align: center;
    border-style: solid;
    border-color: blue;
    border-radius: 40px;
    background-color: rgba(21, 60, 189,0.7);
    top:15%;
    left:25%;
    filter: none;
}

.Container-4 h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 1200;
}

.Container-4 input {
    display:block;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Container-4 .Button{
    display:block;
    margin:auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.Container-4 p {
    color:greenyellow;
    font-size: 1.3em;
    font-weight: 900;
}
textarea {
    background-color: white;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    /*border-style: none;*/
    transition: 0.5s;
    outline:none;
    width:90%;
}

textarea:focus {
    font-size: 1.2rem;
    border: 3px solid blue;
    height: 30px;
}
/* End of Subscription Pop up */

/* Pricing page stuff */

#Pricing1 {
    margin:auto;
    width:90%;
    background-color: none;
}
#Cover1 {
    width:100%;
    height: 100px;
    background-color: purple;
    position: relative;
    top:-100px;
    z-index: 50;
    border-radius:20px;
    transition:2s;
}

#Cover1:hover {
    background-color:rgba(0,0,0,0);
}

#Cover2 {
    width:100%;
    height: 100px;
    background-color: yellow;
    position: relative;
    top:-100px;
    z-index: 50;
    border-radius:20px;
    transition:2s;
}

#Cover2:hover {
    background-color:rgba(0,0,0,0);
}

#Cover3 {
    width:100%;
    height: 100px;
    background-color: darkred;
    position: relative;
    top:-100px;
    z-index: 50;
    border-radius:20px;
    transition:2s;
}

#Cover3:hover {
    background-color:rgba(0,0,0,0);
}

#Cover4 {
    width:100%;
    height: 100px;
    background-color: green;
    position: relative;
    top:-100px;
    z-index: 50;
    border-radius:20px;
    transition:2s;
}

#Cover4:hover {
    background-color:rgba(0,0,0,0);
}

#icon {
    width:128px;
    /* margin:auto; */
    position: relative;
    align-items: center;
}
/*End of Pricing page */









/*Copyright section */
/*#Copyright {
    width: 100%;
    color: white;
    background: black;
    font-size: 1.5em;
    text-align: center;
}*/

#Copyright {
    text-align: center;
}
/*End of Copyright Section*/


/*#video {
    position:relative;
    width:100%;
    padding-top: 56.25%;
}

iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}*/