@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/*General attributes*/

body {
    font-family:"Quicksand", Times, sans-serif;
    background-color: #4C5998;
    background: url(Wallpaper1.jpg) no-repeat;
    background-size: cover;
    color:white;
}

.Button {
    text-align: center;
    padding: 1px 1px 1px 1px;
    display: inline;
    margin: 10px;
    padding: 5px;
    border-radius:7px;
    border-color: blue;
    color: white;
    border-style:solid;
    background-color: #0000ff;
    text-transform: uppercase;
    font-weight: bold;
    transition:0.5s;
}

.Button:hover{
    background-color:#5786ff;
    font-size: 20px;
    box-shadow: 2px 4px #0642a1;
}



/*Navigation bar*/
header{
    position:fixed;
    width:100%;
    background-color:rgba(21, 60, 189,0.3);
    top:0;
}
#Subscription{
    margin-top: 70px
}
.Highlight{
    color:blue;
}
nav {
    display: inline;
}
#title{
    display: inline;
    color:white;
    font-weight: bold;
}
.page-links {
    display:inline;
    float:right;
}
.Container-1 {
    border-bottom:4px solid #0000ff;
    padding-bottom: 10px;
}

#Current { /*The current id is for the current page, in the navigation bar*/
    border-color: blue;
    color: blue;
    background-color: white;
}

#Current:hover{
    background-color:#99b2f0;
}

ul {
    margin-right: 20px
}
li {
    padding:5px 0px 5px 0px;
    list-style-type: none;
    display: inline;
}
a{
    text-decoration: none;
}

/*End of Navigation bar*/

/*Subscription box*/
.Container-3 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0000ff;
}

.Image-container{
    width:40%;
    float:left
}

input {
    background-color: white;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    /*border-style: none;*/
    transition: 0.5s;
    outline:none;
}

input:focus {
    font-size: 1.2rem;
    border: 5px solid black;
    height: 30px;
}
/*End of Subscription box*/

/*Text boxes and information*/

.Container-2 {
    width:50%;
    float:left;
    border-radius: 2px;
    border-style: solid;
    border-color: blue;
    background-color: rgba(21, 60, 189,0.3);
    padding: 0px 4px;
    margin-top:20px;
    box-sizing: border-box;
}
#bigger-container {
    width:100%;
}

/*End of Text boxes and information*/

/*Miscellaneous*/
#blank {
    margin-bottom: 100px;
    padding-bottom: 100px;
}
/*End of Miscellaneous*/


/*#video {
    position:relative;
    width:100%;
    padding-top: 56.25%;
}

iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}*/