@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/*General attributes*/

body {
    font-family:"Quicksand", Times, sans-serif;
    background-color: #4C5998;
    background: url(Wallpaper1.jpg) no-repeat;
    background-size: cover;
    color:white;
}

.Button {
    text-align: center;
    padding: 1px 1px 1px 1px;
    display: inline;
    margin: 10px;
    padding: 5px;
    border-radius:7px;
    border-color: blue;
    color: white;
    border-style:solid;
    background-color: #0000ff;
    text-transform: uppercase;
    font-weight: bold;
    transition:0.5s;
}

.Button:hover{
    background-color:#5786ff;
    font-size: 20px;
    box-shadow: 2px 4px #0642a1;
}

.Button1 {
    text-align: center;
    padding: 1px 1px 1px 1px;
    display: inline;
    margin: 10px;
    padding: 5px;
    border-radius:7px;
    border-color:lightseagreen;
    color: white;
    border-style:solid;
    background-color: lightseagreen;
    text-transform: uppercase;
    font-weight: bold;
    transition:0.5s;
    font-size: 35px;
}

.Button1:hover{
    background-color:#57ffc7;
    font-size: 50px;
    box-shadow: 2px 4px #39b99e;
}



/*Navigation bar*/
header{
    position:fixed;
    width:100%;
    background-color:rgba(21, 60, 189,0.3);
    top:0;
}
#Subscription{
    margin-top: 70px
}
.Highlight{
    color:blue;
}
nav {
    display: inline;
}
#title{
    display: inline;
    color:white;
    font-weight: bold;
}
.page-links {
    display:inline;
    float:right;
}
.Container-1 {
    border-bottom:4px solid #0000ff;
    padding-bottom: 10px;
}

#Current { /*The current id is for the current page, in the navigation bar*/
    border-color: blue;
    color: blue;
    background-color: white;
}

#Current:hover{
    background-color:#99b2f0;
}

ul {
    margin-right: 20px
}
li {
    padding:5px 0px 5px 0px;
    list-style-type: none;
    display: inline;
}
a{
    text-decoration: none;
}

/*End of Navigation bar*/

/* Fred */
}

.homepagemain{
    background-color: grey;
    height: 600px;
}

.homepagemaintext{
    position: relative;
    left: 1000px;
    top: 500px;
}


/*Fatimah trying some mess*/

.slideshow{
    background-color: black;
    background: url("BACKGROUNDALL.png");
    background-size: 205% 100%;
    position: relative;
    left: 0;
    top: 0;
    height: 35%%;
    width: 100%;

}

@keyframes slideshow{
    0% {left: 0;}
    100% {left: -200%;}
}


@keyframes moveSlideshow{
    100% {
        -webkit-transform: translateX(-200%);
    }
}

.slideshow > div {
    position: relative;
    overflow: hidden;
    transition: opacity 0.5s ease-out;
    animation: moveSlideshow 20s linear infinite;
    
}
