.button{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid lightblue;
    padding: 10px 15px;
    background-color: lightblue;
    color: rgb(11, 130, 167);
    border-radius: 12px;
    transition: 200ms;
    font-size: 20px;
}

button:hover{

    box-shadow: 2px 5px 5px gray;
    cursor: pointer;
}

.subpages{

position: relative;
left: 700px;
bottom: 20px;

}

.homepagemain{
    background-color: grey;
    height: 600px;
}

.homepagemaintext{
    position: relative;
    left: 1000px;
    bottom: 500px;
}

<<<<<<< HEAD
.Container-1 {
    border-bottom:4px solid red;
    padding-bottom: 10px;
}

.Container-2 {
    width:33.3%;
    float:left;
    border-radius: 2px;
    border-style: solid;
    border-color: blue;
    padding: 0px 4px;
    margin: 0px;
    box-sizing: border-box;
}
=======

/*Fatimah trying some mess*/

.slideshow{
    background-color: black;
    background: url("BACKGROUNDALL.png");
    background-size: 205% 100%;
    position: relative;
    left: 0;
    top: 0;
    height: 35%%;
    width: 100%;

}

@keyframes slideshow{
    0% {left: 0;}
    100% {left: -200%;}
}


@keyframes moveSlideshow{
    100% {
        -webkit-transform: translateX(-200%);
    }
}

.slideshow > div {
    position: relative;
    overflow: hidden;
    transition: opacity 0.5s ease-out;
    animation: moveSlideshow 20s linear infinite;
    
}
>>>>>>> 58645e20717fa1e24e10ce8910d77d960d51d92f
