@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* navi*/

body { 
    font-family:'Quicksand', sans-serif; 
    background-image: url("pictures/backgroundinfo.jpg");    
    background-size: cover;
    background-repeat: no-repeat;  
}

#info-header { 
    color: white;
    font-size: 30px;

}

.info-text {
    color: white;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    position: left ;

}

.People {
    color: white;
    font-size: 20px;
    text-align: center;
}