@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family:"Quicksand", Times, sans-serif;
}

.Highlight{
    color:blue;
}
.box {
    text-align: center;
    width:80%;
    padding: 20px;
    margin: auto;

}
a{
    text-decoration: none;
}
ul{

}