@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
<<<<<<< HEAD
    font-family:'Quicksand', Times, sans-serif;
    background-color: #73d1ff;
=======
    font-family:"Quicksand", Times, sans-serif;
    background-color: #4C5998;
>>>>>>> 58645e20717fa1e24e10ce8910d77d960d51d92f
}

header{
    position:fixed;
    width:100%;
    background-color:#4C5998;
    top:0;
}
#Subscription{
    margin-top: 70px
}
.Highlight{
    color:blue;
}
nav {
    display: inline;
}
#title{
    display: inline;
    font-weight: bold;
}
.page-links {
    display:inline;
    float:right;
}
.Container-1 {
    border-bottom:4px solid #0000ff;
    padding-bottom: 10px;
}
.Container-2 {
    width:50%;
    float:left;
    border-radius: 2px;
    border-style: solid;
    border-color: blue;
    background-color: #444A61;
    padding: 0px 4px;
    margin: 0px;
    box-sizing: border-box;
}
#bigger-container {
    width:100%;
}
.Button {
    text-align: center;
    float: left;
    padding: 1px 1px 1px 1px;
    display: inline;
    margin: 10px;
    padding: 5px;
    border-radius:3px;
    border-color: blue;
    color: white;
    border-style:solid;
    background-color: #0000ff;
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    margin-right: 20px
}
.Button:hover{
    background-color:#5786ff;
}
#Current {
    border-color: blue;
    color: blue;
    background-color: white;
}

#Current:hover{
    background-color:#99b2f0;
}

li {
    padding:5px 0px 5px 0px;
    list-style-type: none;
    display: inline;
}
a{
    text-decoration: none;
}

.Container-3 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0000ff;
}

.Image-container{
    width:40%;
    float:left
}

#blank {
    margin-bottom: 100px;
    padding-bottom: 100px;
}