.button{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid lightblue;
    padding: 10px 15px;
    background-color: lightblue;
    color: rgb(11, 130, 167);
    border-radius: 12px;
    transition: 200ms;
    font-size: 20px;
}

button:hover{

    box-shadow: 2px 5px 5px gray;
    cursor: pointer;
}

.subpages{

position: relative;
left: 700px;
bottom: 20px;

}

.homepagemain{
    background-color: grey;
    height: 600px;
}

.homepagemaintext{
    position: relative;
    left: 1000px;
    bottom: 500px;
}


/*Fatimah trying some mess*/

.slideshow{
    background-color: black;
    background: url("/Virtualis/indexStyle/BACKGROUNDALL.png");
    background-size: 205% 100%;
    position: relative;
    left: 0;
    top: 0;
    height: 35%%;
    width: 100%;

}

@keyframes slideshow{
    0% {left: 0;}
    100% {left: -200%;}
}


@keyframes moveSlideshow{
    100% {
        -webkit-transform: translateX(-200%);
    }
}

.slideshow > div {
    position: relative;
    overflow: hidden;
    transition: opacity 0.5s ease-out;
    animation: moveSlideshow 55s linear infinite;
}
